body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
img {
  
    width: 200px;
    height: 200px;
    
}
.page-header {
    align-content: center;

}
.container {
    position: relative;
}